#used_div_box{
	width:1200px;
	margin:0 auto;
	display:flex;
	border:solid 1px blue;
}

#used_nav_box {
	width:200px;
	height:300px;
	display:flex;
	text-align:center;
	border:solid 1px green;
}

#used_contents_box {
	width:900px;
	margin:0 auto;
	border:solid 1px yellow;
}

.used-book-nav {
		width:200px;
		display:flex;
		flex-direction: column;
		justify-content:center;
		align-items:center;
	}
.used-book-nav div {
		height:50px;
		width:200px;
		display:flex;
		justify-content:center;
		align-items:center;
		border : 1px solid green;
	}