<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.bookstore.product.dao.ProductMapper">
	<!-- api 등록 -->
	<insert id="insertStore_P" parameterType="ProductVO">
		INSERT INTO STORE_PRODUCT_MANAGE(
			STORE_PRODUCT_NUM,
			STORE_PRODUCT_SEARCHCATEGORYID,
			STORE_PRODUCT_ISBN13,
			STORE_PRODUCT_STOCKSTATUS,
			STORE_PRODUCT_SEARCHCATEGORYNAME
		) VALUES (
			#{store_product_num},
			#{store_product_searchcategoryId},
			#{store_product_isbn13},
			#{store_product_stockstatus},
			#{store_product_searchcategoryName}
		)
	</insert>
	<insert id="insertStore_Pdetail" parameterType="ProductVO">
		INSERT INTO STORE_PRODUCT_DETAIL(
			STORE_PRODUCT_NUM,
			store_product_title,
			store_product_author,
			store_product_pubdate,
			store_product_cover,
			store_product_description,
			store_product_categoryid,
			store_product_categoryname,
			store_product_pricesales,
			store_product_pricestandard,
			store_product_publisher,
			store_product_stock,
			store_product_seriesId,
			store_product_seriesName,
			store_product_customerReviewRank,
			store_product_ratingCount,
			store_product_discount,
			store_product_ratingScore,
			store_product_status
			 
		) VALUES (
			#{store_product_num},
			#{store_product_title},
			#{store_product_author},
			#{store_product_pubdate},
			#{store_product_cover},
			#{store_product_description},
			#{store_product_categoryid},
			#{store_product_categoryname},
			#{store_product_pricesales},
			#{store_product_pricestandard},
			#{store_product_publisher},
			#{store_product_stock},
			#{store_product_seriesId},
			#{store_product_seriesName},
			#{store_product_customerReviewRank},
			#{store_product_ratingCount},
			#{store_product_discount},
			#{store_product_ratingScore},
			#{store_product_status}
			
		)
	</insert>
	
	<!-- api 수정 -->	
	<update id="updateStore_P" parameterType="ProductVO">
		UPDATE STORE_PRODUCT_MANAGE SET
			STORE_PRODUCT_SEARCHCATEGORYID=#{store_product_searchcategoryId},
			STORE_PRODUCT_ISBN13=#{store_product_isbn13},
			STORE_PRODUCT_STOCKSTATUS=#{store_product_stockstatus},
			STORE_PRODUCT_SEARCHCATEGORYNAME=#{store_product_searchcategoryName}
		WHERE STORE_PRODUCT_NUM=#{store_product_num}
	</update>
	<update id="updateStore_Pdetail" parameterType="ProductVO">
		UPDATE STORE_PRODUCT_DETAIL SET
			store_product_title=#{store_product_title},
			store_product_author=#{store_product_author},
			store_product_pubdate=#{store_product_pubdate},
			store_product_cover=#{store_product_cover},
			store_product_description=#{store_product_description},
			store_product_categoryid=#{store_product_categoryid},
			store_product_categoryname=#{store_product_categoryname},
			store_product_pricesales=#{store_product_pricesales},
			store_product_pricestandard=#{store_product_pricestandard},
			store_product_publisher=#{store_product_publisher},
			store_product_stock=#{store_product_stock},
			store_product_seriesId=#{store_product_seriesId},
			store_product_seriesName=#{store_product_seriesName},
			store_product_customerReviewRank=#{store_product_customerReviewRank},
			store_product_ratingCount=#{store_product_ratingCount},
			store_product_discount=#{store_product_discount},
			store_product_ratingScore=#{store_product_ratingScore},
			store_product_status=#{store_product_status}
		WHERE STORE_PRODUCT_NUM=#{store_product_num}			
	</update>	
	
	<!-- 게시판 목록 -->
	<sql id="productSearch">
			<if test="keyword != null and keyword != ''">
				<if test="keyfield==1">
					d.STORE_PRODUCT_TITLE LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==2">
					d.STORE_PRODUCT_DESCRIPTION LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield==3">
					d.STORE_PRODUCT_TITLE LIKE '%' || #{keyword} || '%' or 
					d.STORE_PRODUCT_DESCRIPTION LIKE '%' || #{keyword} || '%'
				</if>
			</if>
	</sql>

	<!-- 중고 -->
	<select id="selectUsedNum" parameterType="integer" resultType="usedVO">
		SELECT 
			* 
		FROM store_product_detail 
		RIGHT OUTER JOIN store_used_product_manage USING(store_product_num)
		RIGHT OUTER JOIN store_used_product_detail USING(used_product_num)
		WHERE store_product_num=#{store_product_num}	
	</select>
	
	<!-- 나중에 판매량 추가 -->
	<sql id="productOrder">
		<if test="order==1">
			ORDER BY d.store_product_num DESC
		</if>
		<if test="order==2">
			ORDER BY d.store_product_pricestandard DESC
		</if>
		<if test="order==3">
			ORDER BY d.store_product_pricestandard ASC
		</if>
		<if test="order==4"><!-- 최신순 -->
			ORDER BY store_product_pubdate DESC
		</if>
	</sql>
	
	<!-- 전체/검색 레코드수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM store_product_detail d JOIN store_product_manage m
		ON d.store_product_num=m.store_product_num
		<where>
			<include refid="productSearch"></include>
			<!-- <include refid="searchCategoryId"></include> -->
		</where>
	</select>
	
	<!-- 국내도서/외국도서 -->
	<sql id="searchCategoryId">
		<if test="store_product_searchcategoryid==0">
			m.store_product_searchcategoryid=0
		</if>
		<if test="store_product_searchcategoryid==1">
			m.store_product_searchcategoryid=1
		</if>
	</sql>
	
	<!-- 전체/검색 목록 -->
	<select id="selectList" parameterType="map" resultType="productVO">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
						*
			  		FROM store_product_detail d
			  		JOIN store_product_manage m
			  		ON d.store_product_num=m.store_product_num
			  		<where>
				  		<include refid="productSearch"></include>
<!-- 						<include refid="searchCategoryId"></include> -->
			  		</where>
			  		<include refid="productOrder"></include>
			  		)a)
		<![CDATA[
		WHERE rnum>=#{start} AND rnum<=#{end}
		]]>
	</select>	
	
	<!-- 상품 상세 -->
	<select id="selectProduct" parameterType="string">
		SELECT
		  * 
		FROM STORE_PRODUCT_DETAIL d JOIN STORE_PRODUCT_MANAGE p USING(store_product_num)
		WHERE store_product_isbn13=#{store_product_isbn13}
	</select>
	
	
	<!-- 임시) 상품 등록 -->
	<insert id="insertProduct" parameterType="productVO">
	
	
	</insert>
	<!-- 최신글 등등 -->
	<sql id="selectHow">
	
	</sql>
	<!-- 상품 리스트 -->
	<select id="selectCategoryBook" parameterType="map" resultType="productVO">
		SELECT * FROM
		(SELECT a.*, rownum rnum FROM 
		(SELECT * FROM store_product_manage m JOIN store_product_detail d USING(store_product_num) 
		WHERE m.store_product_searchcategoryname = #{store_product_searchcategoryName}
		AND d.store_product_categoryname LIKE '%' || #{store_product_categoryname} || '%'
		<include refid="productOrder"></include>)a)
	<![CDATA[
		WHERE rnum>=#{start} AND rnum<=#{end}
		]]>
	</select>
	
	<select id="selectCategoryCount" parameterType="map" resultType="integer">
		SELECT COUNT(*) FROM 
		(SELECT * FROM store_product_manage m JOIN store_product_detail d USING(store_product_num) 
		WHERE m.store_product_searchcategoryname = #{store_product_searchcategoryName}
		AND d.store_product_categoryname LIKE '%' || #{store_product_categoryname} || '%')a 
	</select>
	
	<select id="selectBestBookList" parameterType="integer" resultType="productVO">
		SELECT * FROM
		(SELECT a.*, rownum rnum FROM
		(SELECT * FROM store_product_manage m JOIN store_product_detail d USING (store_product_num) 
		WHERE MONTHS_BETWEEN(LAST_DAY(SYSDATE),store_product_pubdate) BETWEEN #{start} AND #{end}
		ORDER BY store_product_ratingcount DESC, store_product_ratingscore DESC)a)
			<![CDATA[
			WHERE rnum>=1 AND rnum<=10
			]]>
	</select>
	<!-- 분야별 TOP3 -->
	<select id="selectCateTop3" parameterType="string" resultType="productVO">
		SELECT * FROM
		(SELECT a.*, rownum rnum FROM
		(SELECT * FROM store_product_manage m JOIN store_product_detail d USING (store_product_num) 
		WHERE store_product_categoryname LIKE '%' || #{store_product_categoryname} || '%'
		ORDER BY store_product_ratingcount DESC, store_product_ratingscore DESC)a)
			<![CDATA[
			WHERE rnum>=1 AND rnum<=3
			]]>
	</select>
	<!-- 분야별 신규도서 -->
	<select id="selectCateNew" parameterType="string" resultType="productVO">
		SELECT * FROM
		(SELECT a.*, rownum rnum FROM
		(SELECT * FROM store_product_manage m JOIN store_product_detail d USING (store_product_num) 
		WHERE store_product_categoryname LIKE '%' || #{store_product_categoryname} || '%'
		<![CDATA[
		 AND store_product_pubdate <= SYSDATE
		 ]]>
		ORDER BY store_product_pubdate DESC)a)
		<![CDATA[
			WHERE rnum>=1 AND rnum<=3
			]]>
	</select>
	<!-- 국내&외국 신규도서 -->
	<select id="selectNew" parameterType="string" resultType="productVO">
		SELECT * FROM
		(SELECT a.*, rownum rnum FROM
		(SELECT * FROM store_product_manage m JOIN store_product_detail d USING (store_product_num)
		WHERE store_product_searchcategoryname = #{cate} 
		<![CDATA[
		 AND store_product_pubdate <= SYSDATE
		 ]]>
		ORDER BY store_product_pubdate DESC)a)
		<![CDATA[
			WHERE rnum>=1 AND rnum<=10
			]]>
	</select>
	<!-- 분야 랜덤 추천 -->
	<select id="selectCateRandom" parameterType="string" resultType="productVO">
		SELECT * FROM
		(SELECT a.*, rownum rnum FROM
		(SELECT * FROM store_product_manage m JOIN store_product_detail d USING (store_product_num) 
		WHERE store_product_categoryname LIKE '%' || #{store_product_categoryname} || '%'
		ORDER BY DBMS_RANDOM.VALUE)a)
			<![CDATA[
			WHERE rnum>=1 AND rnum<=5
			]]>	
	</select>
</mapper>















