@charset "UTF-8";

.page{
    display:flex;
    width:1600px;
    margin:0 auto;
}
.page-outer{ /* 전체 페이지 설정 */
    width:1200px;
    height:auto;
    display: flex;
    padding-top: 100px;
    margin: 0 auto;
}
.page-inner{ /* 전체 데이터 박스 설정 */
    display:flex;
    width:1200px;
    height: 600px;
    margin: 0 auto;
    flex-direction: column;
}
.page-inner #title{ /* 제목 중앙 정렬 */
    display:inline-block;
    text-align: center;
    padding-top: 15px;
    width:100%;
    margin-bottom: 30px;
}
.page-inner h2{
    font-size:30px;
}
.page-input{
    display:flex;
    width: 100%;
    height: 126px;
    font-size: 13px;
    flex-direction:column;
}
.page-input .page-input-box{
    display: inline-block;
    width: 100%;
    height: 54px;
    text-align: center;
    margin-bottom: 5px;
}
.page-input .page-input-box .form-input{
    width: 340px;
    height: 54px;
    font-size: 14px;
    border: 1px solid rgb(221, 221, 221);
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
}
.page-button{
    display:inline-block;
    width: 400px;
    height: 30px;
    flex-direction:row;
    margin-left: 400px;
    margin-top:50px;
}
.error-color{
	display:inline-block;
	height:40px;
	font-size:16px;
	padding-top:12px;
	color:red;
}
.page-button .button1{
    display: inline;
    width:90px;
    height: 25px;
    font-size: 12px;
    background-color: white;
    border-top: white;
    border-left: white;
    border-bottom: white;
    border-right: white;
    cursor: pointer;
    margin-left:60px;
}
.page-button .button2{
    display: inline-block;
    width:90px;
    height: 25px;
    font-size: 12px;
    background-color: white;
    border-top: white;
    border-right: white;
    border-bottom: white;
    border-left:1px solid black;
    cursor: pointer;
}
.page-button2{
    display: flex;
    width:368px;
    height:120px;
    flex-direction: column;
    margin: 0 auto;
    margin-top:10px;
}
.page-button2 .button3{
    display: inline-block;
    width:368px;
    height:54px;
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #E19B50;
    color:white;
    cursor: pointer;
    border:none;
}
.page-button2 .button3:hover{
    display: inline-block;
    width:368px;
    height:54px;
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}
.page-button2 .button4{
    display: inline-block;
    width:368px;
    height:54px;
    font-size: 16px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    border: 2px solid #E19B50;
}