@charset "UTF-8";
@font-face{
	font-family: 'maple';
    src: url('../fonts/maple_light.woff') format('woff');
}
@font-face{
	font-family: 'maple';
    src: url('../fonts/maple_bold.woff') format('woff');
    font-weight:bold;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family : 'NEXON Lv1 Gothic OTF';
}
    body{
      font-family : 'NEXON Lv1 Gothic OTF';
    }
    .page{ /* 1차 1620px */
      display:flex;
      width:1600px;
      height: 1300px;
      margin:0 auto;
    }
    .page-outer{ /* 2차 1200px */
      width:1200px;
      height:1300px;
      display: flex;
      padding-top: 100px;
      margin: 0 auto;
    }
    .page-inner{ /* 3처 1200px */
      display:flex;
      width:1200px;
      height: 600px;
      margin: 0 auto;
      flex-direction: column;
    }
    .page-inner #title{ /* 제목 중앙 정렬 */
      display:inline-block;
      text-align: center;
      padding-top: 15px;
      width:100%;
      margin-bottom: 30px;
      margin-left:-50px;
    }
    .page-inner h2{ /* 제목 글씨 크기 */
      font-size:30px;
    }
    .page-input{ /* 입력칸 외부 박스 크기 조절 */
      display:flex;
      width: 100%;
      height: 800px; /* 입력창 조절 */
      font-size: 13px;
      flex-direction:column;
    }
    .page-input .page-input-box{ /* 입력창 내부 박스 크기 조절 */
      display: inline-block;
      width: 80%;
      height: 54px;
      margin: 12px auto;
      text-align: left;
      margin-left:350px;
      
    }
    .page-input .page-input-box input{ /* 입력창 설정 */
      width: 340px;
      height: 54px;
      font-size: 14px;
      border: 1px solid rgb(0, 0, 0);
      padding: 0px 11px 1px 15px;
      border-radius: 4px;
    }
    .page-input .page-input-box .input-style-check{ /* 중복 체크 박스 설정 */
      width: 150px;
      height: 54px;
      font-size: 15px;
      border: 1px solid black;
      padding: 0px 11px 1px 15px;
      border-radius: 4px;
      background-color: #E19B50;
      color:black;
      cursor: pointer;
    }
    .page-input .page-input-box .input-style-check:hover{ /* 중복 체크 박스 호버 설정 */
      width: 150px;
      height: 54px;
      font-size: 15px;
      border: 1px solid black;
      padding: 0px 11px 1px 15px;
      border-radius: 4px;
      background-color: #E19B50;
      color:white;
      cursor: pointer;
    }
    .page-input .text-announce{ /* 주의 사항 설정 */
      width: 100%;
      margin-left: 360px;
      font-size: 17px;
      color: dimgray;
      margin-top: 5px;
      margin-bottom: 5px;
      display:inline-block;
    }
    .align-center{
    	margin-top:250px;
    	margin-right:135px;
    }
    .page-button{ /* 버튼 외부 박스 크기 조절 */
      display:flex;
      width: 200px;
      height: 30px;
      flex-direction:row;
      margin-left: 630px;

    }
    .page-button .page-button-box .button1{ /* 버튼 설정 */
      display: inline-block;
      width:75px;
      height: 25px;
      font-size: 12px;
      background-color: white;
      border-top: white;
      border-left: white;
      border-bottom: white;
      border-right: white;
      cursor: pointer;
    }
    .page-button .button2{ /* 버튼 설정 */
      display: inline-block;
      width:85px;
      height: 25px;
      font-size: 12px;
      background-color: white;
      border-top: white;
      border-right: white;
      border-bottom: white;
      border-left:1px solid black;
      cursor: pointer;
    }
    .page-button2{ /* 버튼 외부 박스 크기 조절 */
      display: flex;
      width:368px;
      height:120px;
      flex-direction: column;
      margin: 30px auto; /*임시*/
    }
    .page-button2 .button3{ /* 버튼 설정 */
      display: inline-block;
      width:368px;
      height:54px;
      margin-bottom: 5px;
      font-size: 16px;
      border-radius: 4px;
      background-color: #E19B50;
      color:white;
      cursor: pointer;
      border:none;
    }
    .page-button2 .button3:hover{ /* 버튼 호버 설정 */
      display: inline-block;
      width:368px;
      height:54px;
      margin-bottom: 5px;
      font-size: 16px;
      border-radius: 4px;
      color: black;
      cursor: pointer;
      border : 2px solid #E19B50;
    }
    .page-button2 .button4{ /* 버튼 설정 */
      display: inline-block;
      width:368px;
      height:54px;
      font-size: 16px;
      border-radius: 4px;
      background-color: white;
      cursor: pointer;
      border: 2px solid #E19B50;
    }
    .test{
    	display:flex;
    	height:55px;
    	width:366px;
    	border:1px solid black;
    	border-radius:5px;
    }

    #identify_css{
    display:inline-block;
    	border:none;
    	width:150px;
    	margin-right:2px;
    }
    #hi{
    	font-size:20px;
    	transform: translate(0, 28%)
    }
    #identify_css2{
    	display:inline-block;
    	margin-left:2px;
    	border:none;
    	width:150px;
    	
    }
    #h2_1{
    	margin-left:470px;
    }
    #h2_2{
    	margin-left:430px;
    	margin-top:100px;
    }
    .input-notice{
    	margin-left:350px;
    }
    
    
    
    
    
    
    
    
    