<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.bookstore.used.dao.UsedMapper">
	<!-- 중고 상품 등록 하기 -->
	
	
	<sql id="productSearchByUsed">
		<where>
		    <if test="keyword!=null and keyword!=''">
			d.store_product_title LIKE '%' || #{keyword} || '%' 
			or d.store_product_author LIKE '%' || #{keyword} || '%'
			</if>
		</where>
	</sql>
	
	<select id="selectProductNameByUsed" parameterType="map" resultType="kr.spring.bookstore.used.vo.UsedVO">
		SELECT * FROM (SELECT a.*, rownum rnum FROM(
		SELECT m.store_product_num, d.store_product_cover, d.store_product_title, d.store_product_categoryname, 
		d.store_product_author, d.store_product_publisher 
		FROM store_product_manage m LEFT JOIN store_product_detail d ON d.store_product_num = m.store_product_num 
		<include refid="productSearchByUsed"></include>
		)a) <![CDATA[ WHERE rnum >= #{start} AND rnum <= #{end} ]]>
	</select>
	
	<select id="selectProductNameByUsedCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*) FROM (SELECT m.store_product_num, d.store_product_cover, d.store_product_title, d.store_product_categoryname, 
		d.store_product_author, d.store_product_publisher 
		FROM store_product_manage m LEFT JOIN store_product_detail d ON d.store_product_num = m.store_product_num 
		<include refid="productSearchByUsed"></include>
		)
	</select>
</mapper>

