<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.bookstore.event.dao.BsEventMapper">
	<!-- 글쓰기 -->
	<insert id="insertEvent" parameterType="bsEventVO">
		INSERT INTO store_event_board (
			event_board_num,
			store_product_num,
			event_board_status,
			event_board_category,
			event_title,
			event_short_content,
			event_content,
			event_img_small,
			event_img_big,
			event_reg_date,
			event_date_start,
			event_date_end,
			event_quiz_sel1,
			event_quiz_sel2,
			event_quiz_an
			)
		VALUES(
			store_event_board_seq.nextval,
			#{store_product_num},
			#{event_board_status},
			#{event_board_category},
			#{event_title},
			#{event_short_content},
			#{event_content},
			#{event_img_small},
			#{event_img_big},
			SYSDATE,
			#{event_date_start},
			#{event_date_end},
			#{event_quiz_sel1},
			#{event_quiz_sel2},
			#{event_quiz_an}
		)
	</insert>
	<!--  ㅎ-->
	<update id="updateEvent" parameterType="bsEventVO">
			UPDATE store_event_board
			SET 
				store_product_num=#{store_product_num},
				event_board_status=#{event_board_status},
				event_board_category=#{event_board_category},
				event_title=#{event_title},
				event_short_content=#{event_short_content},
				event_content=#{event_content},
				<if test="event_img_small.length > 0">
				event_img_small=#{event_img_small},
				</if>
				<if test="event_img_small.length > 0">
				event_img_big=#{event_img_big},
				</if>
				event_modify_date=SYSDATE,
				event_date_start=#{event_date_start},
				event_date_end=#{event_date_end},
				event_quiz_sel1=#{event_quiz_sel1},
				event_quiz_sel2=#{event_quiz_sel2},
				event_quiz_an=#{event_quiz_an}
			WHERE event_board_num=#{event_board_num}
	</update>
	
	<!-- sql 태그와 include 태그를 이용해 SQL문 재사용 -->
	<sql id="eventOrder">
		<if test="order == 1">
			WHERE event_board_status > #{event_board_status}
		</if>
		<if test="order == 2">
			WHERE event_board_status=2
		</if>
		<if test="order == 3">
			WHERE event_board_status=3
		</if>
	</sql>
	<sql id="eventSearch">
		<if test="keyword != null and keyword != ''">
			<if test="keyfield == 1">
				AND event_title LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield == 2">
				AND event_short_content LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield == 3">
				AND (event_title LIKE '%' || #{keyword} || '%' OR event_short_content LIKE '%' || #{keyword} || '%')
			</if>
		</if>
	</sql>
	
	<!-- 전체/검색 레코드 수 -->
	<select id="selectEventCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM store_event_board
		<include refid="eventOrder"></include>
		<include refid="eventSearch"></include>
	</select>
	
	<!-- 전체/검색 목록 -->
	<select id="selectEventList" parameterType="map" resultType="bsEventVO">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
			  			*
			  		FROM store_event_board
			  		<include refid="eventOrder"></include>
			  		<include refid="eventSearch"></include>
			  		ORDER BY event_board_num DESC) a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
	
	
	<!--  -->
	
	
	
	<!-- 출석 개수 및 상태 조회 -->
	<select id="selectAttendanceDetail" parameterType="Integer" resultType="bsAttendancePointVO">
		SELECT 
			event_attendance_point_num, 
			mem_num, 
			event_month, 
			point_get1, 
			point_get2, 
			point_get3, 
			attendance_count 
		FROM store_event_attendance_point 
		LEFT OUTER JOIN (SELECT
							event_attendance_point_num,
							COUNT(*) attendance_count
					 	 FROM store_event_attendance 
					 	 GROUP BY event_attendance_point_num) 
		USING(event_attendance_point_num)
		WHERE mem_num=#{mem_num} AND event_month=#{event_month} 
		
	</select>
	
	<!-- 출석 상세 리스트 -->
	<select id="selectListAtendance" parameterType="bsAttendancePointVO" resultType="bsAttendanceVO">
		SELECT
			*
		FROM store_event_attendance
		WHERE event_attendance_point_num=#{event_attendance_point_num}
	</select>
	
	<!-- 댓글 -->
	<!-- 댓글 작성 -->
	<insert id="insertReply" parameterType="bsEventReplyVO">
		INSERT INTO store_event_board_reply (
			reply_num,
			event_board_num,
			mem_num,
			reply_content)
		VALUES (
			STORE_EVENT_BOARD_REPLY_SEQ.nextval,
			#{event_board_num},
			#{mem_num},
			#{reply_content})
	</insert>
	
	<!-- 댓글 목록 -->
	<select id="selecListReply" parameterType="map" resultType="bsEventReplyVO">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum 
			  FROM (SELECT
			  			reply_num,
			  			event_board_num,
			  			mem_num,
			  			reply_date,
			  			reply_modify_date,
			  			<![CDATA[
			  			REPLACE(REPLACE(reply_content,'<','&lt;'),'>','&gt;') reply_content,
			  			]]>
			  			mem_id 
			  		FROM store_event_board_reply
			  		JOIN lm_member_manage USING (mem_num)
			  		WHERE event_board_num=#{event_board_num}
			  		ORDER BY reply_num DESC) a)
		<![CDATA[
		WHERE rnum >= ${start} AND rnum <= #{end}
		]]>	
	</select>
	
	

</mapper>