<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.bookstore.review.dao.ReviewMapper">
	<select id="selectReviewCheck" parameterType="map" resultType="kr.spring.bookstore.review.vo.ReviewVO">
		SELECT 
		    * 
		FROM lm_review 
		WHERE order_detail_num IN (
		    SELECT 
		        order_detail_num 
		    FROM store_order_detail d
		    RIGHT OUTER JOIN STORE_ORDER_MANAGE m
		    USING(ORDER_NUM) 
		    WHERE store_product_num = #{store_product_num} AND m.mem_num = #{mem_num}
		)
		AND order_detail_num NOT IN (
		    SELECT 
		        order_detail_num 
		    FROM lm_review 
		    WHERE mem_num = #{mem_num}
		)
	</select>
	<select id="selectOrderDetail" parameterType="kr.spring.bookstore.payment.vo.BookStorePaymentOrderVO" resultType="kr.spring.bookstore.service.vo.OrderDetailVO">
        SELECT 
		    * 
		FROM store_order_detail d
        LEFT OUTER JOIN store_order_manage m
        USING(order_Num)
		WHERE store_product_num = #{store_product_num} AND m.mem_num=#{mem_num}
		AND order_detail_num NOT IN (
		    SELECT order_detail_num 
		    FROM lm_review
		)
	</select>
	<!-- 리뷰 등록 -->
	<insert id="insertReview" parameterType="kr.spring.bookstore.review.vo.ReviewVO">
		INSERT INTO lm_review(
			review_num,
			order_detail_num,
			mem_num,
			review_content,
			review_rating,
			review_image
		)
		VALUES(
			lm_review_seq.nextval,
			#{order_detail_num},
			#{mem_num},
			#{review_content},
			#{review_rating},
			#{review_image}
		)
	</insert>
	
	<!-- 댓글 목록 -->
	<select id="selectReviewList" parameterType="map" resultType="kr.spring.bookstore.review.vo.ReviewVO">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
						*
			  		FROM lm_review r
			  		JOIN store_order_detail d
			  		USING (ORDER_Detail_num)
                    WHERE d.store_product_num=#{store_product_num}
			  		)a)	
	</select>
	
	<!-- 리뷰 갯수 -->
	<select id="selectReviewCount" >
		SELECT
			COUNT(*)
		FROM lm_review r
		LEFT OUTER JOIN store_order_detail d
		USING (ORDER_Detail_num)
		WHERE d.store_product_num=#{store_product_num}
	</select>
</mapper>