/* LM문고 header CSS */
.bs-header {
	margin: 0 auto;
	width: 1200px;
}
a {
	text-decoration: none; /* 언더바 제거 */
	color: black;
}
a:hover {
	text-decoration: none; /* 호버링 시 언더바 제거 */
	color: #E19B50;
}
.bs-header-topbox {
	height: 40px;
}
.bs-header-topmenu ul {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 15px;
	height: 40px;
	display: flex;
	justify-content: flex-end;
}
.bs-header-topmenu ul li {
	line-height: 40px;
	margin-right: 30px;
	list-style-type: none;
}
.bs-header-midbox {
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bs-search {
	width: 560px;
	height: 48px;
	border-radius: 25px;
	border: 2px solid #5055b1;
	display: flex;
	align-items: center;
	margin-left: 50px;
	margin-right: 30px;
}
.bs-text-img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 54px;
	width: 54px;
}
.bs-text-img a {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bs-search img {
	height: 18px;
	width: 18px;
}
.bs-move-main {
	width: 200px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}
.bs-move-main div {
	width: 100px;
	text-align: center;
}
.bs-move-main ul {
	margin: 0;
	font-size: 25px;
	height: 120px;
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.booksotre-header-botbox {
	width: 1200px;
}
.booksotre-header-botbox ul {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	font-size: 25px;
}
.booksotre-header-botbox ul li {
	margin-left: 50px;
	margin-right: 50px;
}
.bs-main-icons {
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bs-main-icons div {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bs-main-icons div a {
	width: 32px;
	height: 32px;
	margin: 0;
}
.bs-cart img {
	width: 32px;
	height: 32px;
}
.bs-person img {
	width: 32px;
	height: 32px;
}

/*bookstore-header-botbox*/
.gnb_wrap {
	position: relative;
	display: -webkit-flex;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	padding: 22px 0 20px;
}
.gnb_item {
	display: inline-block;
	vertical-align: top;
}
.gnb_link {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.01em;
	font-weight: 700;
	padding: 5px 14px;
	vertical-align: top;
	text-decoration: none;
	color: black;
}
address, em {
	font-style: normal;
}
em {
	color: #4dac27;
}
/*할인혜택 / 출석 체크*/
.gnb_sub_list {
	margin-left: auto;
	font-size: 0;
}

.gnb_sub_item {
	display: inline-block;
	vertical-align: top;
}

.gnb_sub_link {
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
	color: #595959;
	padding: 5px;
}

.more_service {
	position: relative;
	margin-left: 4px;
}

.btn_more_service {
	background-color: white;
	border: none;
	display: block;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-image: url(https://contents.kyobobook.co.kr/resources/fo/images/common/ink/btn_gnb_service_more@2x.png);
	transition: background 0.23s;
}
/* 공통 */
body {
	font-size: 14px;
	line-height: 1.4;
	font-family: "Roboto", "Noto Sans KR", "PingFang SC",
		"Apple SD Gothic Neo", "Microsoft YaHei UI", "Malgun Gothic",
		sans-serif;
	min-width: 1440px;
	color: #000;
	margin: 0;
}
/*상단 바로가기 버튼*/
.service-up{
	margin-right: 30px;
	position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 50;
}
.link-service img{
	width: 50px;
	height: 50px;
}
/*스크롤바*/
/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
	height: 15px; /* 가로축 스크롤바 폭 너비 */
	width: 5px; /* 세로축 스크롤바 폭 너비 */
}
/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
	background: #cbd1cc; /* 스크롤바 막대 색상 */
	border-radius: 12px 12px 12px 12px;
}

/*footer*/
.footer_wrapper {
	margin-top: 150px;
}

.footer_body {
	padding: 40px 0 50px;
	border-top: 1px solid #eaeaea;
}

.footer_inner {
	width: 1200px;
	margin: 0 auto;
}

.logo_box .logo_box .logo_link {
	width: 168px;
	height: 48px;
	display: block;
	margin-bottom: 30px;
	margin-left: -40px;
}

.logo_box .logo_box .logo_link img {
	width: 168px;
}

.footer_contents_wrap {
	margin-top: 28px;
	display: -webkit-flex;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
}
/*왼쪽*/
.footer_contents_left {
	flex: 1;
}

.footer_menu_box {
	margin-top: 2px;
}

.footer_menu_list {
	margin-left: -40px;
	font-size: 0;
}

.footer_menu_item {
	display: inline-block;
	vertical-align: top;
}

.footer_menu_item+.footer_menu_item:before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 12px;
	margin: 4px 12px 0;
	background-color: #d5d5d5;
	vertical-align: top;
}

.privacy .footer_menu_link {
	font-weight: 700;
	color: #000;
}

.footer_menu_link {
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
	font-weight: 500;
	color: #595959;
}

.footer_info_box {
	margin-top: 20px;
	font-size: 0;
}

.info_text {
	display: inline-block;
	margin-top: 4px;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
	color: #595959;
	vertical-align: top;
}

.gap {
	content: "";
	display: inline-block;
	width: 1px;
	height: 9px;
	margin: 8px 6px 0;
	background-color: #d5d5d5;
	vertical-align: top;
}

.call {
	font-weight: 700;
}

.copyright {
	margin-top: 23px;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	color: #767676;
}
/*오른쪽*/
.footer_contents_right {
	margin-left: auto;
}

.service_text {
	display: inline-block;
	margin: 3px 6px 0 0;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	color: #595959;
	vertical-align: top;
}

.btn_footer_link {
	display: inline-block;
	padding: 5px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	font-weight: 500;
	line-height: 1;
	vertical-align: top;
}

.service_desc {
	margin-top: 3px;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	color: #767676;
}

.footer_mark_isms {
	display: -webkit-flex;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	margin-top: 22px;
}

.mark_link {
	display: block;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	color: #767676;
	padding: 7px 0 7px 54px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	background-image: url("/images/img_mark_isms.png");
}

.mark_desc {
	display: block;
	margin-left: 17px;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	color: #767676;
}

/*로고 검색*/

.header_wrapper .service_mall .service_mall_inner {
	display: flex;
	position: relative;
	padding-left: 172px;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	z-index: 2;
	padding-top: 9px;
}

ul.service_mall_list, ul.customer_service_list, ul.user_menu_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.service_mall_box {
	flex: 1;
}

.service_mall_item, .customer_service_item {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

/*검색*/
.search_input {
	width: 382px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_search {
	display: block;
	height: 30px;
	width: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-image: url(../images/search.png);
}

.ip_search {
	border: none;
	border-radius: 0;
	vertical-align: middle;
	height: 48px;
	width: 370px;
	background-color: inherit;
	background: none;
	outline: none;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
}
.select_box_button {
    text-align: -webkit-auto;	
	position: relative;
	display: inline-block;
	width: 100%;
	height: 48px;
	padding: 0;
	border: 1px solid transparent;
	border-bottom: none;
	border-radius: 24px;
	background: none;
	transition: none;
	z-index: 1;
	cursor: pointer;
}
.select_box_button.active{
    border-color: #000;
    background-color: #fff;
    border-radius: 20px 20px 0 0;	
}
.select_box_button .text {
	padding: 11px 16px 5px 24px;
	line-height: 22px;
	margin-right: 0;
	display:block;
}

.select_box_button .optionList {
	position: relative;
	overflow: hidden;
	max-height: 0;
	padding:0;
    margin-right: -1px;
    margin-left:-1px;
	border-radius: 0 0 20px 20px;
}

.select_box_button.active .optionList {
	top: -10px;	
 	transform: translateY(2px);
	transition: .3s ease-out;
	max-height: none;
	height: auto;
	opacity: 1;
	box-sizing: border-box;
	border: 1px solid black;
	border-top: none;
}

/* 테마 적용하기 */
span.search_select:has(.active) {
	width: 134px;
	height: 48px;
	border : 1px solid black;
	border-bottom: none;
	background: none;
	transition: none;
	z-index: 1;
	background-color: #fff;
	border-radius: 20px 20px 0 0;
	cursor: pointer;
	border: 1px solid black;
}

.search_select .select_box_button:hover {
	color: #333;
}

.search_select .select_box_button .optionList .optionItem {
	padding: 10px 23px;	
	list-style: none;
	background-color: #fff;
}

.search_select .select_box_button .optionList .optionItem:hover {
	padding: 10px 23px;	
	transition: background-color 0.2s ease-out;
	background-color: #f5f5f5;
}
.search_select {
	text-align:center;
	width: 135px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
    margin: -1px 0 0 -1px;
}
.select_box_button.active .select-icon{
  transform: rotate(180deg);
  transition: .3s; 
}

.customer_service_list .customer_service_item:not(:first-of-type)::before,
	.gnb_sub_list .gnb_sub_item:not(:first-of-type, :last-of-type)::before
	{
	content: "";
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 5px 10px 0;
	background-color: #595959;
	opacity: 0.2;
	vertical-align: top;
}

.search_input::before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 23px -1px 0;
	background-color: #595959;
	opacity: 0.2;
	vertical-align: top;
}