/*공통*/
.best-book ul{
	padding-left: 10px;
	list-style: none;
	font-size: 15px;
}
.best-book ul li{
	text-align: justify;
	margin-bottom: 5px;
}
.best-book table{
	margin-top: 20px;
	border: none !important;
    border-top: 2px solid #5055B1 !important;
    border-bottom: 2px solid #5055B1 !important;
}
.best-book table td{
	width: 184px;
}
.best-book table tr:first-child{
	vertical-align: bottom;
}
.best-book table tr:last-child{
	padding:0;
	vertical-align: top;
}
.bsMain-content{
	width: 1200px;
	min-height: 928px;
}
.event{
	margin: 20px 0 80px 0;
}
.event p{
	margin-bottom: 0;
	height: 120px;
	font-size: 40px;
	font-weight: 600;
}
.best-book{
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}
.best-book img{
	width: 150px;
	text-align: center;
}

/*bootstrap*/
