@charset "UTF-8";
.attendance-page{
	width: 1000px;
	margin: 100px auto;
}
.atten-wi{
	width: 500px;
	margin: 20px auto;
} 
.calBox {
    margin: 25px auto 0;
    width: 448px;
    background-color: #fff;
}
.day-num {
	position: relative; 
	display : inline-block;
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
}

.day-num .bgStamp {
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 10%;
	top: 10%;
	background: url("../images/stamp.png") no-repeat left top;
	background-size: 50px;
}

.day-num .bgStamp {
	opacity: 0;
	transition: opacity .5s;
   
    transition-timing-function: ease;
}

.day-num.stampOn .bgStamp {
	opacity: 1;
}

.day-num .num {
	line-height: 64px;
	font-size: 16pt;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.attendance-status .stampCount {
	position: relative;
    z-index: 2;
    margin: 0 5px;
    padding-top: 11px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 70px;
    border: solid 2px #2c3d62;
    box-sizing: border-box;
    background-color: #2c3d62;
}
.attendance-status .noPoint {
	position: relative;
    z-index: 2;
    margin: 0 5px;
    padding-top: 11px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 70px;
    border: solid 2px #2c3d62;
    box-sizing: border-box;
    background-color: white;
}
.attendance-status .yesPoint {
	position: relative;
    z-index: 2;
    margin: 0 10px 0 0;
    padding-top: 11px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 70px;
    border: solid 2px #2c3d62;
    box-sizing: border-box;
    background-color: #2c3d62;
}
.attendance-status li {
	display: inline-block;
    zoom: 1;
    *display: inline;
    overflow: hidden;
    text-align: left;
    vertical-align: top;

}
.attendance-status li span {
	display: block;
	text-align: center;
	height: 18px;
	line-height: 18px;
	color: #fff;
	font-size: 13px;
}

.attendance-status .noPoint span{
	display: block;
	text-align: center;
	height: 18px;
	line-height: 18px;
	color: black;
	font-size: 13px;
}

.attendance-status.yesPoint span{
	display: block;
	text-align: center;
	height: 18px;
	line-height: 18px;
	color: #fff;
	font-size: 13px;
}
.attendance-status li .span2{
	height: 25px;
	line-height: 25px;
	font-size: 18px;
}

.attendance-status{
	width: 335px;
	margin: 0 auto;
}
.attenDiv2{
	margin: 20px 0;
}
.calendar-Th{
	display: table;
    width: 100%;
    border-bottom: solid 1px #363e4f;
    table-layout: fixed;
}
.day-item{
	display: table-cell;
    width: 64px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #363e4f;
    font-family: 'yesGoH';
    font-size: 15px;
    font-weight: bold;
}

.day-num:nth-child(1) .num {
    color: #fc6e49;
}
.day-num:nth-child(7) .num {
    color: #fc6e49;
}
.calBox .calBoxTh {
    display: table;
    width: 100%;
    border-bottom: solid 1px #363e4f;
    table-layout: fixed;
}
#attendanceCheck {
	display:block;
	margin: 0 auto;
	width: 448px;
	height: 50px;
	border: solid 2px #2c3d62;
	border-radius: 10px;
	background-color: #363e4f;
	color: white;
	font-size: 13pt;
}
.attenDiv3{
	margin: 10px 0;
}
