@charset "UTF-8";

.event-announce-page{
	width:1000px;
	margin: 100px auto;
}

.eventannouncepage-main{
	width: 980px;
	margin: 30px auto;
}
.eventannounce-div{
	padding: 50px 99px;
	border: solid 1px #E9E9E9;
	border-radius: 50px;
}



/* 공통 정렬
------------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
/* 공통 등록, 수정 폼
------------------------*/

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.eventannounce-div li label{
	display: inline-block;
	width: 130px;
	vertical-align: top;	
	
}
.eventannounce-div ul li input{
	width:635px;
}
.eventannounce-div ul li{
	margin: 5px 0;
}
input{
	margin-top:4px;
	padding:5px;
}

button[type="submit"]{
	height:31px;
}



/* 공통 목록
------------------------*/
form#search_form{
	width:98%;
	padding-bottom:0;
	border:none;
}
ul.search{
	width:380px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
ul.search li select{
	height:30px;
}
.list-space{
	width:700px;
	margin:10px auto;
}
table.basic-table{
	width:100%;
	margin:7px 0;
	border:1px solid #000;
	border-collapse:collapse;
}
table.basic-table td, table.basic-table th{
	border:1px solid #000;
	padding:5px;
}
table.striped-table{
	border:1px #FFF solid;
	font-size:15px;
	width:100%;
	border-collapse:collapse;
	margin:7px 0;
}
table.striped-table td, table.striped-table th{
	padding:.7em .5em;
	vertical-align:middle;
}
table.striped-table th{
	font-weight:bold;
	background:#E1E1E1;
}
table.striped-table td{
	border-bottom:1px solid rgba(0,0,0,.1);
}
table.striped-table tr:nth-child(odd){
	background-color:rgb(250,250,247);
}
.detail-content{
	min-height: 200px;
	margin: 10px 10px;
}

/*상세 페이지 css*/

.eventpage-div ul{
	margin: 0;
	padding: 0;
}

.detail-content table {
    border-collapse: collapse;
}
.detail-content table, .detail-content td {
    border: 1px solid black;
}
.detail-content table td{
	padding: 2px 4px;
}