@charset "UTF-8";
.listPageMain{
	width: 950px;
	min-height: 1000px;
	margin: 25px auto;
	padding: 0 50px;
	/*background-color: yellow;
	*/
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.bann-con{
	width: 950px;
	display: flex;
}

.attendB{
	width: 780px;
	height: 140px;
	margin-left: 5px;
	margin-right: 10px;
	background-color: orange;
}
.bann{
	width: 140px;
	height: 140px;
	margin-left: 10px;
	margin-right: 5px;
	/*
	background-color: #e9e9e9;
	border: solid 2px #2b5fd6;
	*/
}

.event-list{
	display: flex;
	flex-direction: column;
}
.event-row{
	display: flex;
	flex-direction: row;
	width: 950px;
	
}
.event-column{
	display: flex;
	flex-direction: row;
	width: 440px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	/*background-color: green;*/
	align-items:flex-start;
}
.event-simg{
	width: 170px;
	height: 100px;
	margin-right: 5px;
	/*background-color: orange;*/
	
}
.event-content{
	width: 270px;
	min-height: 100px;
	margin-left: 5px;
	background-color: white;
}
.event-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.event-title a:link{
	text-decoration: none;
}

.event-title a:visited, a:active{
	color: black;
}
.event-title a:hover{
	text-decoration: underline;
	color: #5055B1;
}
.event-short-content{
	cursor: default;
}
.event-column:nth-child(1){
	margin-left: 15px;
	margin-right: 10px;
}
.event-column:nth-child(2){
	margin-left: 10px;
	margin-right: 15px;
}

.event-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.event-content ul li{
	display: inline-block;
}
.status-ing, .status-end, .cate-quiz, .cate-reply{
	padding: 2px 4px;
	margin: 1px 2px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	border-radius: 8px;
}
.event-status .status-ing{
	color: #464646;
	background-color: #acc4fc;
}
.event-status .status-end{
	color: #464646;
	background-color: #fc967e;
}
.event-status .cate-quiz{
	color: #464646;
	background-color: #fde770;
}
.event-status .cate-reply{
	color: #464646;
	background-color: #b6fd70;
}
a.wid{
	display: block;
	width:170px;
	height: 100px;
}
.wid img{
	padding: 3px;
	border: solid 1px #E9E9E9;
}


/* 이벤트 페이지 상세*/
.page-main{
	width: 1200px;
	margin: 30px auto;
	padding: 0 25px;
}
ul.detail-info {
	list-style:none;
}
ul.detail-info li{
	display: inline-block;
	min-width: 200px;
}

ul.search {
	list-style:none;
}
ul.search li{
	display: inline-block;
}

/*퀴즈*/
.detailPageMain{
	width: 1100px;
	margin: 25px auto;
}
.img_big{
	text-align: center;
	margin: 50px;
}
.hr-gr{
	
	width: 80%;
}
.content-out{
	width: 750px;
	margin: 50px auto;
	text-align: center;
}
.quiz-select{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.quiz-select .quiz-sel{
	width: 350px;
	height: 80px;
	margin: 20px;
	text-align: center;
	cursor: pointer;
	color: #3e84ed;
	border: 3px solid #3e84ed;
	border-radius: 10px;
	background-color: white;
}

.quiz-select .quiz-sel:hover{
	color: white;
	background-color: #3e84ed;
}

.quiz-select .quiz-sel span{
	height:80px;
	line-height:80px;
	display: inline-block;
	vertical-align: middle;
	
}
.quiz-select .quiz-sel span{
	font-weight: bold;
	font-size: 20px;
}

/*댓글*/
.detail-info{
	padding: 0;
	margin: 0;
}
.sub-item hr, .hr-gr{
	height: 0.5px;
	background: #E9E9E9;
	border: 0;
}
#re_form .rep-div{
	width: 1000px;
	margin: 30px auto;
	display: flex;
	flex-direction: row;
}
.reply-box-f{
	display: flex;
	flex-direction: column;
}
#re_first{
	text-align: right;
}

.rep-div .re-textarea{
	width:900px;
}
.rep-div .re-submit-btn{
	width: 100px;
}
#re_form .rep-div .re-textarea textarea{
	width: 890px;
	height: 80px;
	resize: none;
}
#re_form .rep-div .re-submit-btn input{
	width: 100px;
	height: 85px;
	color: white;
	font-size: 18pt;
	font-weight: bold;
	background-color: #5055B1;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

#re_form .rep-div .re-submit-btn input:disabled {
	background-color: #E9E9E9;
	cursor: default;
}

.paging-button input{
	display: inline-block;
	width: 1100px;
	height: 100px;
	text-align: center;
	background-color: #E9E9E9;
	border: none;
	font-weight: bold;
	font-size: 22px;
	color: white;
}

.paging-button{
	margin-top: 10px;
	margin-bottom: 50px;
}