@charset "UTF-8";
/*---------- 상품 상세 ---------*/
/* 가장 겉 */
div.product-main {
	width: 100%;
	min-height: 1000px;
	padding: 0;
}

div.content-wrap {
	padding-top: 42px;
	width:1200px;
	margin: 0 auto;
}
div.tabs-area+div.content-wrap{
	display:flex;
}
/* 상품 div 헤더 */
div.content-header {
	line-height: 42px;
	text-align: center;
	font-weight: 700;
	font-size: 28px;
}
/* 상품 내용 */
div.content {
	margin-top: 30px;
	display: flex;
	justify-content: center;	
}
div.prod-detail-content{
	width: calc(100/3 * 100%);
}
div.content div.prod-detail-content:not(:first-child) {
	margin-left: 80px;
}
/* 상품 리뷰 */
div.prod-detail-content div.review-box {
	border: 1px solid #eaeaea;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 16px 15px 22px;
	text-align: center;
}
/* 상품 별점 */
.star-ratings-fill {
	--percent: calc(var(--rating) /10 * 100%);	
    background: linear-gradient(90deg, #f5c842 var(--percent), #aaa9a9 var(--percent));	
	position:relative;
	color: transparent;
	padding: 0;
	z-index: 1;
	display: flex;
	overflow: hidden;
	font-size: 20px;
	background-clip: content-box;	
    -webkit-background-clip: text;	
	display:inline-block;
}
 
.review-score{
	position:relative;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	color: #474c98;
	color: #474c98;
}
/* 상품 사진 */
div.prod-detail-content img {
	width: 380px;
}
/* 상품 가격 */
span.val{
	font-size:24px;
	font-weight:700;
	line-height:36px;
}
span.unit{
	line-height:36px;
	font-size:24px;
	font-weight:400;
}

/* 찜 */
span.wish-ico {
	display: inline-block;
	background: url(../images/heart.png) no-repeat 100%;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;   
    margin:0 auto;
    padding-top:30px; 
}

span.wish-ico.active {
	background: url(../images/heart_active.png) no-repeat 100%;
    background-size: 20px 20px;   
}

/* 상품 수량 제어 */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}
span.adjust-box{
	display:flex;
}
input[type="number"]{
    width: 50px;
    border:0;
    height: 44px;
    margin: 0;
    padding: 1px 0 0 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-family: "Roboto", sans-serif;
    outline: 0;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top; 	
}
button.decrease {
	background: url(../images/down.png) no-repeat 100%;
	background-size: 12px 12px;
	background-position: 65% 50%;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 6px 0 0 6px;	
    position:relative;
}

button.increase {
	background: url(../images/up.png) no-repeat 100%;
	background-position: 40% 50%;
	background-size: 12px 12px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 6px 6px 0;	
    position:relative;
}
button.adjust{
    display: block;
    top: 0;
    width: 34px;
    height: 44px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;	
}
/* 상품 상세 설명 부분 */
div.content-wrap div.left-area{
    width: calc(100% - 330px - 56px);
}
div#scrollProdClaim+div.right-area{
	width:330px;
    margin: 80px 0 0 56px;	
}
/* 상품 리뷰 */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}
 
.star-rating input {
  display: none;
}
 
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}
div#scrollProdReview div.first{
    min-height: 38px;
    padding-bottom: 16px;	
	display:flex;
    align-items: center;
}
div#scrollProdReview div h2+div.right-area{
	margin-left:auto;
}
div.first + div.review-box{
    padding: 35px 49px;
    margin-bottom: 30px;
    background-color: #f7f7f7;
    border: 1px solid #d5d5d5;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;    	
}
div.box-left{
	display:flex;
	padding:10px 0 0 0;
    justify-content: center;
    flex: 1;
    border-right: 1px solid #eaeaea;
}
div.box-left div.star-ratings{
    flex-direction: column;
    padding:0;
}
div.box-right div.star-ratings{
	display:flex;
    flex-direction: row;
    padding:0;
    justify-content: space-between;    
}
div.box-right{
    flex-direction: column;
    padding-left: 50px;
    flex: 1;    
    display: flex;    
}
div#image_container{
	position: relative;
    width: 94px;
    height: 94px;
    cursor: default;
}

div#image_container img {
    border-radius: 6px;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    font-size: 0 !important;
    left: 0;
    top: 0;
}
input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
	cursor: pointer;
	display: none;
}

div.file-button {
	margin-bottom: 20px;
	background-image: url(../images/file_button.png);
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	width: 94px;
	height: 94px;
	border: 1px dashed #e5e5e5;
	background-color: #f7f7f7;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: top;
	box-sizing: border-box;
}
span.del{
	background-image: url(../images/btn_remove.png);
	background-size: 8px 8px;
	width: 22px;
    height: 22px;
	position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 6px;    
	font-size: 0 !important;
    cursor:pointer;
    right: 0;
    z-index:1;
    
}    
/* 상품 탭 영역 */
div.tabs-area{
    position: relative;
    margin-bottom: 0;	
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    box-sizing: border-box;
    height: 72px;
}
div.tabs-area div{
	width:1200px;
	margin:0 auto;
	color:#767676;
	font-size:16px;
}
ul.tabs{
    display: inline-block;
    flex: 1 1 auto;
    position: relative;
    padding: 0;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;	
}
li.tab_item{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0 30px;
    float: left;
    background: none;
    box-sizing: border-box;
}
ul li{
	list-style:none;
}
ul li a{
	cursor:pointer;
	text-decoration: none;
	color:#767676;
	font-weight:400;
}
/* 상품 구매 탭 */
div.purchase-wrap{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	z-index:102;
	height:94px;
    border-top: 1px solid #ccc;
    background-color:#fff;
}
div.purchase-inner{
    align-items:center;
	position: relative;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height:100%;	
}
form#product_cart{
    display:flex;
    align-items:center;
    margin:0 auto;
    width:100%;
}
div.left-area{
    display: inline-block;
    margin: 7px 30px 0 0;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    vertical-align: top;	
}
div.right-area{
    align-items:center;
    display: inline-block;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    vertical-align: top;	
    flex-direction: row;
    margin-left:auto;
	display:flex;
}
div.prod-button-box{
    align-items:center;
    height:50px;
    padding:0;
}
button.btn-line-gray{
	margin-left:5px;
	cursor:pointer;
    width: 50px;
    height: 50px;
    color: #fff;
    letter-spacing: -0.01em;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;	
    padding:0;
}
input[type='button'].btn-lg{
    margin-left:5px;
    color: #474c98;
    border: 1px solid #5055b1;
    background: #fff;    
	font-size: 16px;
	cursor: pointer;
	letter-spacing: -0.01em;
	font-weight: 700;
	min-width: 120px;
	padding: 0 23px 1px;
	border-radius: 6px;
	height:50px;
}

input.btn-lg:hover{
    background: rgba(204, 204, 204,0.4);
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out;	
}
span#total{
	font-weight:700;
	font-size:20px;
}
/* 대출/반납 관리 */
.content-box {
	margin:0 auto;
	margin-top: 20px;
	border-top: 2px solid #000;
}
div.button-box {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 0;
	align-items:center;
}
ul.main-content {
	display: flex;
	align-items:center;
}
form#search_form{
	padding:0;
}
ul.main-content li {
	list-style: none;
}
.small-button {
	border: 1px solid #474c98;
	background: #fff;
	color: #474c98;
	font-size: 16px;
	cursor: pointer;
	letter-spacing: -0.01em;
	font-weight: 700;
	margin: 3px 0 0 3px;
	min-width: 100px;
	height: 25px;
	padding: 0 23px 1px;
	border-radius: 6px;
}

.small-button:hover {
	background: rgba(204, 204, 204,0.4);
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.sm-button{
	border: 1px solid #474c98;
	background: #474c98;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	letter-spacing: -0.01em;
	font-weight: 700;
	margin: 3px 0 0 3px;
	min-width: 30px;
	height: 25px;
	padding: 0 23px 1px;
	border-radius: 6px;	
}
.sm-button:hover{
	background: rgba(71, 76, 152,0.4);
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}
select.select {
	width: 100px;
	height:27px;
	border: 1px solid #999;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-top:3px;
	margin-right:5px;
	padding-left:10px;
	background: url('../images/arrow.jpg') no-repeat 90%;
	background-size:15%;
}
select.select::-ms-expand {
	display: none;
}

input#keyword{
	width: 200px;
	border: 1px solid #999;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
}
h2.align-center{
	margin:0 auto;
	margin-top:30px;
}
table.form-box {
	width: 100%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #eaeaea;
	box-sizing: border-box;
	padding: 18px 0;
}
.row-title {
	padding: 10px 12px;
	line-height: 22px;
	letter-spacing: -0.01em;
	text-align: center;
	vertical-align: top;
	width:52px;
}
.row-content {
	word-break:keep-all;	
	padding: 10px 12px;
	line-height: 22px;
	letter-spacing: -0.01em;
	text-align: left;
	vertical-align: top;
	font-weight: 500;
}
