@charset "UTF-8";
body {
	font-size: 14px;
	line-height: 1.4;
	font-family: "Roboto", "Noto Sans KR", "PingFang SC",
		"Apple SD Gothic Neo", "Microsoft YaHei UI", "Malgun Gothic",
		sans-serif;
	min-width: 1440px;
	color: #000;
}

/* 상품 수량 제어 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button.decrease{
	background-image: url(../images/down.png);
	width:12px;
	height:12px;
	background-size:12px 12px;
}
button.increase{
	background-image: url(../images/up.png);
	width:12px;
	height:12px;
	background-size:12px 12px;
}