@charset "UTF-8";
/* 좌측 메뉴 레이아웃(Admin,MyPage)
------------------------*/
#basic_main_body{
	width:1200px;
	margin:0 auto;
	display:flex;
};
#basic_page_nav{
	float:left;
	width:270px;
	min-height:530px;
	display:flex;
}
#basic_page_body{
	width:950px;
	float:left;
}