@charset "UTF-8";
#libBasicPage-1{
	width: 950px;
	margin-top: 22px;
}
table.tg{
	margin: 10px auto;
}

#libBasicPage-1 .tg, #libBasicPage-3 .tg{
	border-collapse: collapse;
	border-color: #ccc;
	border-spacing: 0;
}

#libBasicPage-1 .tg td , #libBasicPage-3 .tg td{
	width: 140px;
	background-color: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

#libBasicPage-1 .tg th, #libBasicPage-3 .tg th {
	width: 150px;
	background-color: #f0f0f0;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

#libBasicPage-1 .tg .tg-nrix {
	text-align: center;
	vertical-align: middle
}
#libBasicPage-1 .tg .tg-9wq8 {
	text-align: center;
	vertical-align: middle
}
#libBasicPage-1 .tg .tg-9wq9 {
	width:200px;
	text-align: center;
	vertical-align: middle
}
#libBasicPage-1 h3, #libBasicPage-3 h3{
	margin-left: 20px;
}

#libBasicPage-3 .tg .tg-9wq8 {
	text-align: center;
	vertical-align: middle
}
#libBasicPage-3 .tg .tg-9wq9 {
	width:400px;
	text-align: center;
	vertical-align: middle
}

#libBasicPage-3 .tg .tg-9wq7 {
	width:500px;
	text-align: center;
	vertical-align: middle
}

/*폼폼폼폼*/

/* 공통 등록, 수정 폼
------------------------*/
form{
	width:600px;
	margin:0 auto;
	border:1px solid #000;
	padding:10px 10px 30px 10px;
}
form ul li{
	clear:both;
}
form ul li label{
	width:100px;
	float:left;
}
ul{
	list-style:none;
}
input{
	margin-top:4px;
	padding:5px;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:350px;
}
button[type="submit"]{
	height:31px;
}