@charset "UTF-8";
.schedule-popup{
	width: 600px;
}
.event_form_div2 ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.event_form_div2 label{
	display: inline-block;
	width: 80px;
	vertical-align: top;	
	
}

.event_form_div2 .text-st{
	display: inline-block;
	width: 100px;
	vertical-align: top;	
	text-align: center;
	
}

.cal-div2, .cal-div3, .start-time, .end-time{
	display: flex;
	flex-direction: row;
}

.cal-div1, .div-date, .start-time, .end-time{
	margin: 5px 10px;
}
.cal-div1 #title{
	width: 308px;
}

.event_form_div2{
	width: 430px;
	margin: 20px auto;
}
.align-center{
	text-align:center;
}

.schedule-popup{
	width: 500px;
	margin: 30px auto;
	padding: 10px 25px;
	border: 1px solid #E9E9E9;
	border-radius: 15px;
}
.schedule-popup hr{
	background:#E9E9E9;
    height:1px;
    border:0;
}
button {
    width: 100px; /* 원하는 너비로 설정 */
    padding: 10px; /* 원하는 패딩 설정 (위, 아래, 좌, 우 여백) */
    background-color: #16488a; /* 배경색 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 5px;
    cursor: pointer; /* 커서 모양 변경 (마우스 호버 시 손가락 모양) */
}
input[type="button"]{
	width: 100px; /* 원하는 너비로 설정 */
    padding: 10px; /* 원하는 패딩 설정 (위, 아래, 좌, 우 여백) */
    background-color: #16488a; /* 배경색 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 5px;
    cursor: pointer; /* 커서 모양 변경 (마우스 호버 시 손가락 모양) */
	
}
.cal-div4 input[type="checkbox"]{
	display: inline-block;
	margin-left: 100px;
}
