#used_div_box{
	width:1200px;
	margin:0 auto;
	display:flex;
	
}

#used_nav_box {
	width:200px;
	height:300px;
	display:flex;
	text-align:center;
	
}

#used_contents_box {
	width:1000px;
	margin:0 auto;
	
}

.used-book-nav {
		width:200px;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		
	}
.used-book-nav div {
		height:50px;
		width:200px;
		display:flex;
		justify-content:center;
		align-items:center;
		
		
}
.used-book-nav div a {
	text-decoration: none;
	color:black;
}
	
.used-contents {
	margin-top : 50px;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.used-contents span {
	font-size : 25px;
	padding:10px;
}
.used-contents select {
	width:200px;
	height:50px;
	font-size:15px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	
}
.used-contents label {
	margin-bottom:5px;
	margin-top:5px;
	
}

.used-contents input {
	padding:5px;
}
.used-info {
	display:flex;
	justify-content: center;
	margin-top: 50px;
}

.used-info div {
	display:flex;
	flex-direction: column;
	align-items:center;
	margin-left:25px;
	margin-right:25px;
	
}

.used-info div span {
	margin-top : 20px;
	font-size:18px;
}

.used-info img {
	width:200px;
	height:200px;
}

.used-a-button {
	width: 150px;
    height: 54px;
    font-size: 15px;
    border: 1px solid black;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    background-color: #E19B50;
    color: black;
    cursor: pointer;
	display:flex;
	justify-content: center;
	align-items:center;
	text-decoration: none;
	
}

.file-upload-button {
	/*업로드 버튼*/
}
.used-text-area {
	width: 500px;
    height: 300px;
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
    padding: 0px 15px 0px 15px;
    border-radius: 4px;
}
.used-contents .find-books {
	width:200px;
	height: 40px;
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
    padding: 0px 15px 0 15px;
    border-radius: 4px;
}
.used-contents .used-price {
	width:200px;
	height: 40px;
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
    padding: 0px 15px 0px 15px;
    border-radius: 4px;
}
.used-default-btn  {
	width: 230px;
    height: 54px;
    font-size: 15px;
    padding: 0px 15px 0 15px;
    border-radius: 4px;
    background-color: #E19B50;
    color: black;
    cursor: pointer;
	display:flex;
	justify-content: center;
	align-items:center;
	text-decoration: none;
	margin-top:5px;
}
#used_form label {
	font-size:20px;
}

#used_form li {
	
	list-style: none;
	width:900px;
	margin-bottom:20px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#used_submit {
	
	margin:0 auto;
}
/*
.used-form-img-div {
	
	display:flex;
	flex-direction: row;
}
*/

/* usedBody 영역*/
.used-all-contents-div-width {
	width : 900px;
	height: 220px;
	display:flex;
	
	}

.used-all-contents-div-width img {
	height:200px;
	margin:0;
}
.used-all-contents-img {
	min-width:180px;
	width:180px;
	min-height:200px;
	height:200px;

	display:flex;
	align-items:center;
	justify-content:flex-start;
	overflow: hidden;
	
}

.used-all-contents-box div {
	padding : 1px;
}

/*
.used-all-contents-box-detail {
	flex:1;
	display: block;
	min-height: 0;
	height: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	
	
}*/
.used-all-contents-column div {
	padding : 5px;
	margin-left:10px;
}

.flex-end-contents {
	width:900px;
	display:flex;
	justify-content:flex-end;
}

.flex-end-contents ul {
	display:flex;
	justify-content:flex-end;
	list-style: none;
}

.flex-start-box {
	display:flex;
	width:900px;
	justify-content:flex-start;
	margin-bottom:20px;
	position:relative;
	
}
.flex-start-box ul {
	position:absolute;
	right:0;
	display:flex;
	margin:0;
	justify-content:flex-end;
	list-style:none;
	
}

.used-contents-main {
	width:1200px;
	margin:0 auto;
}

table.striped-table{
	
	font-size:15px;
	width:500px;
	border-collapse:collapse;
	margin:7px 0;
	text-align:left;
}


table.striped-table td, table.striped-table th{
	padding: 5px;
	vertical-align:middle;
}
table.striped-table th{
	font-weight:bold;
	background:#E1E1E1;
}



.library-main-second-box {
	display:flex;
	width:1200px;
	justify-content:center;
}


.library-lost-box, .library-board-box {
	width:500px;
	display:flex;
	flex-direction:column;
	padding:50px;
}

.horizon-hr {
	width:100%;
	height:1px;
	background-color:green;
}

.working-time-box {
	width:1200px;
	display:flex;
	justify-content:flex-start;
	flex-direction:column;
	font-size:20px;
	padding:15px;
}
.used-contents-main {
	margin-top : 50px;
	width:1200px;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.working-time-notice {
	display:flex;
	width:1200px;
	flex-direction:row;
	align-items: center;
	margin-bottom:5px;
	padding:10px;
}
.horizon-hr-1200 {
	width:1200px;
	margin:0 auto;
	height:1px;
	background-color:green;
}

#recommend-title {
	display:flex;
	justify-content: center;
	align-items:center;
	font-size:40px;
	height:30px;
}
.align-column {
	width:1200px;
	height:100px;
	display:flex;
	min-width:1200px;
	justify-content:flex-start;
	align-items:center;
	font-size:15px;
	
}


#recommend-01, #recommend-02, #recommend-03, #recommend-04 {
	margin-left:20px;
	display:flex;
	width:100px;
	height:40px;
	justify-content:center;
	align-items:center;
	
	border:solid 2px green;
	border-radius:5px;
	margin-top:5px;
	margin-bottom:5px;
	
}

#recommend-01:hover , #recommend-02:hover , #recommend-03:hover , #recommend-04:hover {
	color:green;
	cursor: pointer;
}
#recommend-contents {
	width:1200px;
	height:350px;
	display:flex;
	justify-content:center;
	align-items: center;
	
}

.recommend-contents {
	width:1200px;
	display:flex;
	
}

.library-ajax {
	max-width:250px;
	width:250px;
	height:350px;
	display:flex;
	justify-content:center;
	align-items: center;
}

.library-ajax-contents {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	
	
}

.library-ajax-contents span {
	font-size:15px;
	padding:0;
}
.library-ajax-contents img {
	min-height:200px;
	max-width:250px;
	height:200px;
	max-height:200px;
}