/*공통 CSS*/
#LM_bookDetail_main{
	margin: 20px auto;
	width: 1000px;
	min-height: 768px;
	font-size: 16px;
}
ul{
	list-style: none;
}
table{
	width: 100%;
	text-align: center;
}
table tr{
	height: 35px;
}
/*info*/
#bookClassName{
	margin: 5px 0 0 0;
	padding-top: 30px;
	padding-left: 40px;
	height:  110px;
	font-size: 40px !important;
	color: #233d92;
	font-weight: bold;
	background-color: #f0f5ff;
	background-image: url("	https://library.gangnam.go.kr/include/image/common/bg_sub.png");
	background-repeat: no-repeat;
}
#info_title{
	width: 110%;
	min-height: 100px;
	border-bottom: 2px solid #F4F4F4;
}
#info_title p{
	margin-bottom: 20px;
}
#info_title p:first-child{
	font-size: 30px !important;
}
#info_title p:last-child{
	color: #444;	
}
.info-image{
	width: 230px;
}
.bookDetail_info{
	min-height: 480px;
	margin-top: 50px;
	border: 1px solid #e2e2e2;
	border-radius: 10px;
}
.bookDetail_info ul li:first-child{
	padding-top: 40px;
	float: left;
}
.bookDetail_info ul li:last-child{
	width: 550px;/*750*/
	float: left;
	padding-left: 50px;
}
/*description*/
.LIB_description{
	margin: 20px 0 40px 0;
	min-height: 250px;
	border: 1px solid #e2e2e2;
}
.de_title{
	margin-bottom: 20px !important;
	font-size: 20px;
	font-weight: 700;
}
.LIB_description p{
	margin: 30px;
	line-height: 30px;
}



/*list*/
.bookDetail_book p{
	padding: 15px 0 0 15px;
	height: 40px;
	background-color: #b7b7b7;
	font-weight: 600;
}
table th{
	border: none;
    color: #323232;
    font-size: 14px;
    height: 40px;
    font-weight: 500;
    background: #efeff1;
}
table th:first-child{
	width: 117px;
}
table th:nth-child(2){
	width: 235px;
}
table th:nth-child(3){
	width: 267px;
}
table th:nth-child(4){
	width: 250px;
}
table th:last-child{
	width: 190px;
}
.book-btn{
	width: 103px;
	height: 30px;
	background-color: white;
	border: 1px solid #58c53f;
    color: #58c53f;
    font-weight: 700;
}
.book-btn:hover{
	cursor: pointer;
	background-color: #58c53f;
	color: white;
}
