.side-bar{
	margin:10px 10px 10px 0;
	/*사이드바의 높이가 컨텐트의 높이와 동일하게 자동 조절*/
	margin-bottom:-9999px;
	padding-bottom:9999px;
	background-color:#a8adff;
}
.side-bar ul{
	margin:0;
	padding:0;
}

.size-bar ul li img{
	margin-left:3px;
}
.side-height{
	/*사이드바의 높이가 컨텐트의 높이와 동일하게 
	  자동 조절하기 위해 흘러넘친 배경색은 숨김*/
	overflow:hidden;
	margin-bottom:10px;	  
	width:1200px;
	margin: 0 auto;
    display: flex;
}
.menu-btn{
	width:100%;
	height:50px;
	font-size:12pt;
	background-color:#a8adff;
	border:none;
}
.menu-btn:hover{
	width:100%;
	height:50px;
	font-size:12pt;
	background-color:#fff;
	border:none;
}